@{
    ViewData["Title"] = "Cuisine";
}

<link rel="stylesheet" type="text/css" href="~/css/mystyle.css">

<div class="parallax_scrolling">
    <div class="dark_background">

        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <p class="oxygen">Canberra Restaurants</p>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <p class="niconne">Cuisine</p>
            </div>
        </div>


    </div>
</div>
@* ---------------------------- *@

<br/>
<br/>
        <div class="row">

            @*<div class="col-md-4 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">*@
                <div class="col-md-5 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-10 col-xs-offset-1"style="padding-top:60px">

                    <p class="han">TASTES OF THE WORLD</p>

                    <p>

                        Whether you're after the tastes of the Mediterranean or some oriental delights, then Canberra has the restaurant for you.

                        <br />
                        <br />

                        Check out what's on offer by selecting a cuisine from the menu below.
                    </p>

                </div>
            <div class="col-lg-5 col-md-5 col-xs-5 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <div class="col-md-6" style="padding-top:60px;">
                    <img src="~/images/burger.jpeg" class="img-responsive" style="width:100%" />
                </div>
                <div class="col-md-6 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-1" style="padding-top:60px;">
                    <img src="~/images/pasta.jpeg" class="img-responsive" style="width:100%" />
                </div>
            </div>

            </div>
<br/>
<br/>

    
    
    @* ---------------------------- *@
    @*<style>
        p.solid {
            background-color: lightgray;
            border-color: lightgray;
            border-top-color: white;
            padding: 10px 4px;
        }
    </style>
    <div class="row">
        <div class="col-md-6 col-lg-offset-1 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-1">

            <div class="solid">

                <p class="solid" onclick="changeHtmlContent()">Italian</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-offset-1 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <div id="mydiv"></div>

            <div class="solid">
                <p class="solid" onclick="changeHtmlContent2()">Asian</p>
            </div>
            <div id="mydiv2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-offset-1 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <div class="solid">
                <p class="solid" onclick="changeHtmlContent3()">Indian</p>
            </div>
            <div id="mydiv3"></div>
        </div>
    </div>*@

@* ---------------------------- *@

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapse1">Italian</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse panel-body">
                <div class="panel-body">
                    <div class="col-md-3 col xs-6" style="padding-top:20px">
                        <img src="~/images/jamiesit.png" alt="Mountain View" class="img-responsive" style="width:150px;height:100px;" />
                    </div>
                    <div class="col-md-offset-1 col xs-6" style="padding-top:20px;padding-left:0px">
                        <p class="han">JAMIE'S ITALIAN</p>
                        <p>
                            "With prime position in the Canberra centre on Bunda Street, Jamie's Italian is the perfect place for a mid-shopping pit stop, or a buzzing evening out. With beautiful room-height windows and impressive lofty ceilings, the restaurants is full of atmostphere."-Jamie's Italian Website
                            <br />
                            <a href="https://www.jamieoliver.com/italian/australia/" style="color: darkorange">Click here</a> for the Italian Canberra and Sons website.
                        </p><br />

                    </div>

                    

                    <div class="col-md-3 col xs-6" style="padding-top:20px">
                        <img src="~/images/is_small.jpg" alt="Mountain View" class="img-responsive" style="width:180px;height:150px;" />
                    </div>
                    <div class="col-md-offset-1 col xs-6" style="padding-top:20px;padding-left:0px">
                        <p class="han">ITALIAN AND SONS</p>
                        <p>
                            "A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits"- Australian good Food Guide
                            <br />
                            <a href="http://italianandsons.com.au/" style="color: darkorange">Click here</a> for the Italian and Sons website.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapse2">Indian</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse panel-body">
            <div class="panel-body">
                <div class="col-md-3 col xs-6" style="padding-top:20px">
                    <img src="~/images/bginger_small.jpg" alt="Mountain View" class="img-responsive" style="width:185px;height:122px;" />
                </div>
                <div class="col-md-offset-1 col xs-6" style="padding-top:20px;padding-left:0px">
                    <p class="han">BLU GINGER</p>
                    <p>
                        "At Blu Ginger we use only the freshest locally sourced produce, combined with authentic spices imported directly from the sub-continent, to offer classic, traditional recipes with a modern twist, creating a unique and memorable dining experience for you"- Blu Ginger Website

                        <br />
                        <a href="http://www.bluginger.com.au/" style="color: darkorange">Click here</a> for the Blu Ginger website.
                    </p>

                </div>



                <div class="col-md-3 col xs-6" style="padding-top:20px">
                    <img src="~/images/jewel_small.jpg" alt="Mountain View" class="img-responsive" style="width:180px;height:150px;" />
                </div>
                <div class="col-md-offset-1 col xs-6" style="padding-top:20px;padding-left:0px">
                    <p class="han">JEWEL OF INDIA</p>
                    <p>
                        "Finding a balance between dishes inspired by authentic recipes and creating a modern take on classic cuisine sees a loyal following of Canberra locals returning for a mouth-watering feast"- Australian Good Food Guide Website

                        <br />
                        <a href="http://www.jewelofindia.com.au/" style="color: darkorange">Click here</a> for the Jewel of India website.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapse3">Asian</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse panel-body">
            <div class="panel-body">
                <div class="col-md-3 col xs-6" style="padding-top:20px">
                    <img src="~/images/chairman.jpg" alt="Mountain View" class="img-responsive" style="width:180px;height:150px;" />
                </div>
                <div class="col-md-offset-1 col xs-6" style="padding-top:20px;padding-left:0px">
                    <p class="han">CHAIRMAN & YIP</p>
                    <p>
                        "The Chairman & Yip has become one of Canberra's longest standing and most highly regarded institutions, having received numerous awars over the years, offering an ever consistent and professinal quality of service for corporate dining, conferences and presentations."-Chairman & Yip Website

                        <br />
                        <a href="http://chairmangroup.com.au/chairmanyip/" style="color: darkorange">Click here</a> for the Chairman & Yip website.
                    </p>
                </div>

                </div>



            <div class="col-md-3 col xs-6" style="padding-top:20px">
                <img src="~/images/asiannoodlehouse.jpg" alt="Mountain View" class="img-responsive" style="width:195px;height:150px;padding-left:15px" />
            </div>
            <div class="col-md-offset-1 col xs-6" style="padding-top:20px;padding-left:0px">
                <p class="han">DICKSON ASIAN NOODLE HOUSE</p>
                <p>
                    "The Dickson Asian Noodle House specialises in traditional Malaysian, Thai and Lao cuisine. The dining atmosphere is casual and cosy providing for a la carte dining, banquets and take away."- Vibe FM Website

                    <br />
                    <a href="http://www.noodlehouse.net.au/Noodle_house/Welcome.html" style="color: darkorange">Click here</a> for the Dickson Asian Noodle House Facebook page.
                </p>
            </div>
            </div>
        </div>
    </div>

